#homeOpen {
  top:0;
  height: 73vh;
  background-color: #E0F4FF;
  text-align: center;
  width: 100%;
}

#homeOpenText{
  margin-top: 0;
  padding-top: 7%;
  font-size: 340%;
  animation: homeOpenText 7s infinite; 
}

#homeOpenText2{
  color: #00CED1;
}

#road {
  width: 100%;
  padding-top: 15%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0px;
}

#jeep {
  width: 37%;
  position: absolute;
  z-index: 2; 
  top: 53%; 
  right: 0px;
  animation: jeep 10s linear infinite forwards; 
}

@keyframes jeep {
  0% {
    right: 0px;
  }
  100% {
    right: 60%;
  }
}

.bigIconAndText {
  height: 350px;
  padding-left: 20%;
  margin-bottom: 50px;
}

.iconAndText {
  height: 300px;
  padding: 1%;
}

#rowAbout{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

#about{
  align-items: center;
  text-align: center;
  margin-top: 50px;
  font-size: 170%;
}

#about h2{
  color: #00CED1;
}

.about3Text {
    height: 300px;
    font-size: 140%;
}

.iconAndText   h2{
  color: #00CED1;
  font-size: 200%  ;
}



.footerOne {
  text-align: center;
  background-color: #008080;
  color: white;
  padding-left: 22%;
  height: 400px;

}


.sellOneStrip {
  background-color: #A9A9A9;
}

@media (max-width: 767px) {

  /* למצב מסך קטן יותר דחפתי את הפוטר אחרת הוא עולה על האזור שלפניו, */
  /* לכן אם הוא עולה של אלמנטים שיוסיפו אחרי זה לדחוף אותו עוד */
  .footerOne {
    margin-top: 800px;
  }
}

@media (max-width: 767px) {

  /* למצב מסך קטן יותר דחפתי את הפוטר אחרת הוא עולה על האזור שלפניו, */
  /* לכן אם הוא עולה של אלמנטים שיוסיפו אחרי זה לדחוף אותו עוד */
  .iconAndText {
    padding: 10%;
  }
}

.container_Area_links {
  width: 100%;
  display: flex;
  gap:20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.container_Area_links a {
  height: 60vh;
  width: 40%;
  min-width: 415px;
  color: white;

}

.Area_link {
  height: 100%;
  width: 100%;
   display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

}

@media (max-width: 770px){

  .container_Area_links {
    margin-top: 600px;
  }
  .Area_link{
    width: 80%;
  }

}

.Area_link p {
  margin: 10px 0 0;
  font-size: 450%;
}

#north_like {
  background-image: url(../image/nourth.jpg);
}

#jerosalem_like {
  background-image: url(../image/jerosaleim.jpg);
}

#center_like {
  background-image: url(../image/center1.jpg);
}

#South_like {
  background-image: url(../image/south.jpg);
}

*{
  margin-left: 0 !important;
}
