* {
    font-family: "Heebo";
    font-weight: bold;
    font-weight: 300;

}

a {
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    direction: rtl;
    height: 100%;
}

.smooth-scroll {
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
}

header {
    background-color: #ffffff;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 150px;
    width: 100%;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    top: 150px;
    /* כאן צריך לכתוב את הגובה לפי הגובה של ההדר - אם ההדר בגובה 56 אז הTOP צריך להיות לפחות בגובה הזה */
    z-index: 100;
    position: sticky;
    box-shadow: 0px 6px 6px #2B323F2B;
}

.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.liNav {
    display: inline-block;
    margin-right: 10px;

}

.liNav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #00CED1;
    font-weight: bold;
    font-size: 140%;
}

.liNav a:hover {
    background-color: #D3D3D3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D3D3D3;
    color: #00CED1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #00CED1;

}

.dropdown-content a:hover {
    background-color: #008080;
    color: white;
}

.liNav:hover .dropdown-content {
    display: block;
}

.logoDiv {
    display: flex;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;

}

.imageLogoOne {
    width: 4.5%;
    margin-right: 37%;
}


.logoDiv h1 span {
    color: #008080;
    font-family: 'Carter One', system-ui;

}

.logoDiv h1 {
    color: aqua;
    margin-right: 0.5%;
    font-size: 65px;
    font-family: 'Carter One', system-ui;
    float: right;
    animation: homeOpenText 7s infinite;

}



@keyframes homeOpenText {
    0% {
        background: linear-gradient(45deg, #00CED1, #008080, rgb(12, 206, 231), #00CED1, #20B2AA, #00CED1, #48D1CC, #00FFFF, #40E0D0, #7FFFD4, #66CDAA);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        /* Hide original text color */
    }

    10% {
        background: linear-gradient(45deg, #008080, rgb(12, 206, 231), #00CED1, #20B2AA, #00CED1, #48D1CC, #00FFFF, #40E0D0, #7FFFD4, #66CDAA, #00CED1);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    20% {
        background: linear-gradient(45deg, rgb(12, 206, 231), #00CED1, #20B2AA, #00CED1, #48D1CC, #00FFFF, #40E0D0, #7FFFD4, #66CDAA, #00CED1, #008080);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    30% {
        background: linear-gradient(45deg, #00CED1, #20B2AA, #00CED1, #48D1CC, #00FFFF, #40E0D0, #7FFFD4, #66CDAA, #00CED1, #008080, rgb(12, 206, 231));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    40% {
        background: linear-gradient(45deg, #20B2AA, #00CED1, #48D1CC, #00FFFF, #40E0D0, #7FFFD4, #66CDAA, #00CED1, #008080, rgb(12, 206, 231), #00CED1);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    50% {
        background: linear-gradient(45deg, #00CED1, #48D1CC, #00FFFF, #40E0D0, #7FFFD4, #66CDAA, #00CED1, #008080, rgb(12, 206, 231), #00CED1, #20B2AA);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    60% {
        background: linear-gradient(45deg, #48D1CC, #00FFFF, #40E0D0, #7FFFD4, #66CDAA, #00CED1, #008080, rgb(12, 206, 231), #00CED1, #20B2AA, #00CED1);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    70% {
        background: linear-gradient(45deg, #00FFFF, #40E0D0, #7FFFD4, #66CDAA, #00CED1, #008080, rgb(12, 206, 231), #00CED1, #20B2AA, #00CED1, #48D1CC);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    80% {
        background: linear-gradient(45deg, #40E0D0, #7FFFD4, #66CDAA, #00CED1, #008080, rgb(12, 206, 231), #00CED1, #20B2AA, #00CED1, #48D1CC, #00FFFF);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    90% {
        background: linear-gradient(45deg, #7FFFD4, #66CDAA, #00CED1, #008080, rgb(12, 206, 231), #00CED1, #20B2AA, #00CED1, #48D1CC, #00FFFF, #40E0D0);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    95% {
        background: linear-gradient(45deg, #66CDAA, #00CED1, #008080, rgb(12, 206, 231), #00CED1, #20B2AA, #00CED1, #48D1CC, #00FFFF, #40E0D0, #7FFFD4);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    100% {
        background: linear-gradient(45deg, #00CED1, #008080, rgb(12, 206, 231), #00CED1, #20B2AA, #00CED1, #48D1CC, #00FFFF, #40E0D0, #7FFFD4, #66CDAA);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.nav {
    background-color: #00CED1;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 0%;
    flex-wrap: wrap;
    column-gap: 15px;
}

.nav button {
    font-size: 110%;
    border-radius: 13px;
}

footer {
    display: flex !important;
    background-color: #008080;
    justify-content: space-around;
    flex-flow: row wrap;
    box-shadow: #2B323F2B 6px 3px 0px;
    margin-top: 50px;

}

footer a {
    color: #ffffff;
}

footer a :hover {
    color: #000000 !important;
}

.list_of_prosecutor_in_footer {
    width: 18%;
    display: flex !important;
    list-style-type: none;
    color: #ffffff;
    min-width: 156PX;
    /* gap: 100px; */
    flex-wrap: nowrap;
    display: table-column !important
}

.list_of_prosecutor_in_footer ul {
    list-style-type: none;
    padding: 0;
}